@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Review Requests</h1>
    <table border="1" cellpadding="10">
    <tr height="15">
        <th>Id</th>
        <th width="400">Description</th>
        <th>Owner</th>
        <th>Posted</th>
        <th>Last Updated</th>
    </tr>
    <tr height="20"> 
        <td>00001</td>
        <td>Static review data</td>
        <td>Steven</td>
        <td>yyyy-MM-dd HH:mm:ss</td>
        <td>yyyy-MM-dd HH:mm:ss</td>
    </tr>
</table>
</div>
